@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700;900&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.form-container {
  margin-top: 50px;
  width: 500px;
}



//Custom class styles



.img-wrapper{
  overflow: hidden;

}

.img-hover {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.img-hover:hover {
  transform: scale(1.1);
}

.fs-8 {
  font-size: 14px;
}

.bg-gray {
  background: #2a2a2a;
}

.text-white {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.fa-user:hover {
  color: #2678ca;
}

.fa-clipboard-check:hover {
  color: #5ae461;
}

.fa-heart:hover {
  color: rgb(255, 88, 88);
}

.fa-cart-plus:hover {
  color: rgb(245, 196, 104);
}

.fa-circle-info:hover {
  color: #b815bd;
  color: #808080;
}

.fs-small {
  font-size: 10px;
}


@keyframes colorChanger {
  0% { color: #ff0000; text-shadow: 2px 2px 4px #ff0000; }
  25% { color: #1c671c; text-shadow: 2px 2px 4px #0a400a; }
  50% { color: #2f00ff; text-shadow: 2px 2px 4px #2f00ff; }
  75% { color: #dc5917; text-shadow: 2px 2px 4px #dc5917; }
  100% { color: #ff0000; text-shadow: 2px 2px 4px #ff0000; }
}

@keyframes wobble {
  25% { transform: translateX(5px) rotate(5deg); }
  50% { transform: translateX(-5px) rotate(-5deg); }
  75% { transform: translateX(3px) rotate(3deg); }
  100% { transform: translateX(0) rotate(0); }
}

@keyframes fadeIn {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.title-about {
  display: inline-block;
  font-weight: bold;
  animation: colorChanger 5s infinite, fadeIn 2s ease-in-out infinite;
}

.weird-emoji {
  display: inline-block;
  animation: wobble 2s ease-in-out infinite;
}





//Location Modal styles
i {
  color:#302e38;
  transition: 0.15s;


  &:hover {
    color:#221f29;
    transform: scale(1.1);
  }
}




.custom-close-btn {
  background-color: rgb(216, 216, 216); 
  color: #070707; 
  font-size: 30px; 
  border: none; 
  padding:0 16px 2px 16px;
  cursor: pointer;
  transition: .4s;
}

.custom-close-btn:hover {
  background-color: rgb(165, 165, 165); 
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e9e9e9;
}

.wrapper {

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1280px;
  margin: 0px auto;
}

header {

  border-bottom: 1px solid #f4f4f4;

  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}


.footer {
  a {
      text-align: center;
  }

  i {
    color:white;
    font-size: 40px;
    margin: 0 20px;
    cursor: pointer;
  }
  .fa-youtube:hover {
    color: red;
    text-shadow: 0 0 5px rgb(167, 104, 103);

  }

  .fa-telegram:hover{
    color: rgb(36, 149, 190);
    text-shadow: 0 0 5px rgb(19, 118, 198);
  }

  .fa-instagram:hover {
    text-shadow: 0 0 5px rgb(155, 80, 33);

    color: rgb(197, 182, 23);
  }
  .fa-tiktok:hover {
    text-shadow: 3px 2px 2px red, -2px -2px 2px blue;
    color: rgb(255, 252, 252);
  }

}







.searchBlock {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;


  input {
    border: none;
    padding: 10px;
    font-size: 16px;
  }

 



  .clear {
    position: absolute;
    right: 10px;

  }

}




.favorite {
  position: absolute;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}




.drawer {
  position: absolute;
  width: 400px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    flex: 1;
    overflow: auto;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }


  .cart-cards {
    display: flex;
    flex-direction: column;
    height: 100%;
  }


  .removeBtn {
    transition: .2s ease-in-out;

  }

  .removeBtn:hover {
    transform: scale(1.15);
  }
}

.cart-empty {

  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenBtn {
    width: 245px;
    margin-top: 20px;

    &:hover {
      .arrow {
        transform: rotate(180deg) translateX(3px);
      }
    }

    .arrow {
      position: relative;
      top: -1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform .15s ease-in-out;
    }
  }






}

.cartTotalBlock {

  ul {
    margin-bottom: 30px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 5px;
      }
    }
  }

  .greenBtn {
    position: relative;

    &:disabled {
      animation: button-loading 0.2s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }

}


.greenBtn {
  width: 100%;
  height: 55px;
  background-color: #808180;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;


  &:disabled {
    background: #bebebe;
    cursor: no-drop;
  }


  &:hover {
    background: lighten($color: #444444, $amount: 10%);
  }

  &:active {
    background: darken($color: #323430, $amount: 10%);
  }

}


.cartItem {
  margin: 10px 0;
  padding: 10px 10px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  // overflow: hidden;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -3px;
    margin-right: 20px;
  }


  p {
    font-size: 15px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

//Sign Up
.google-form {
  border: 2px solid rgb(203, 203, 203);
  text-align: center;
  line-height: 1.5em;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
}
.google-form:hover {
  background: rgb(203, 203, 203);
  transition: .3s;
}

.meta-form {
  text-align: center;
  line-height: 1.5em;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
}

.apple-form {
  background: #000;
  color: white;
  text-align: center;
  line-height: 1.5em;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
}

.apple-form:hover{
  opacity: 0.7;
  transition: .3s;
}


@keyframes button-loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}